@model IEnumerable<MedicosRX.Models.AppointmentDetail>
@{
    ViewBag.Title = "DoctorDashBoard";
}
 

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="card  card-box">
            <div class="card-head">
                <header>BOOKED APPOINTMENT</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
                <div class="row table-padding">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="btn-group">
                            <a href="book_appointment_material.html" id="addRow" class="btn btn-info">
                                Add New <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="btn-group pull-right">
                            <button class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">
                                Tools
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-print"></i> Print
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-pdf-o"></i> Save as PDF
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-excel-o"></i> Export to Excel
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <div class="table-scrollable" style="margin-left:40px;">
                        <table class="table table-hover table-checkable order-column full-width" id="example4" style="width:90%">
                            <thead>
                                <tr>
                                    <th> Appointment Id </th>
                                    <th> Patient Name </th>
                                    <th> DR Name </th>
                                    <th> Appointment Date </th>
                                    <th> Time </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (MedicosRX.Models.AppointmentDetail item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.AppointmentId)</td>
                                        <td>@Html.DisplayFor(model => item.PName)</td>
                                        <td>@Html.DisplayFor(model => item.DName)</td>
                                        <td>@Html.DisplayFor(model => item.DateOfAppointment)</td>
                                        <td>@Html.DisplayFor(model => item.TimeOfAppointment)</td>
                                        <td><a href="~/Doctor/PatientReport?id=@item.PId">View</a></td>

                                    </tr>


                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="card  card-box">
            <div class="card-head">
                <header>DOCTORS LIST</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body no-padding height-9">
                <div class="row">
                    <ul class="docListWindow">
                        <li>
                            <div class="prog-avatar">
                                <img src="img/doc/doc1.jpg" alt="" width="40" height="40">
                            </div>
                            <div class="details">
                                <div class="title">
                                    <a href="#">Dr.Rajesh</a> -(MBBS,MD)
                                </div>
                                <div>
                                    <span class="clsAvailable">Available</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prog-avatar">
                                <img src="img/doc/doc2.jpg" alt="" width="40" height="40">
                            </div>
                            <div class="details">
                                <div class="title">
                                    <a href="#">Dr.Sarah Smith</a> -(MBBS,MD)
                                </div>
                                <div>
                                    <span class="clsAvailable">Available</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prog-avatar">
                                <img src="img/doc/doc3.jpg" alt="" width="40" height="40">
                            </div>
                            <div class="details">
                                <div class="title">
                                    <a href="#">Dr.John Deo</a> - (BDS,MDS)
                                </div>
                                <div>
                                    <span class="clsNotAvailable">Not Available</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prog-avatar">
                                <img src="img/doc/doc4.jpg" alt="" width="40" height="40">
                            </div>
                            <div class="details">
                                <div class="title">
                                    <a href="#">Dr.Jay Soni</a> - (BHMS)
                                </div>
                                <div>
                                    <span class="clsOnLeave">On Leave</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prog-avatar">
                                <img src="img/doc/doc5.jpg" alt="" width="40" height="40">
                            </div>
                            <div class="details">
                                <div class="title">
                                    <a href="#">Dr.Jacob Ryan</a> - (MBBS,MS)
                                </div>
                                <div>
                                    <span class="clsNotAvailable">Not Available</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prog-avatar">
                                <img src="img/doc/doc6.jpg" alt="" width="40" height="40">
                            </div>
                            <div class="details">
                                <div class="title">
                                    <a href="#">Dr.Megha Trivedi</a> - (MBBS,MS)
                                </div>
                                <div>
                                    <span class="clsAvailable">Available</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center full-width">
                        <a href="#">View all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


