
@{
    ViewBag.Title = "EditPatient";
}

<h2>EditPatient</h2>

@model MedicosRX.Models.Patient
@{
    ViewBag.Title = "CreatePatient";
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(function () {
        // alert('help');
        $(".autocomtext").autocomplete({

            source: '@Url.Action("GetDoctorName")'

        });

    })
</script>
<style>
    .autocomtext {
    }
</style>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class="pull-left">
                    <div class="page-title">Edit Patient</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">Patients</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Edit Patient</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Basic Information</header>
                        <button id="panel-button"
                                class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            data-mdl-for="panel-button">
                            <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                            <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body" id="bar-parent">

                        <div class="form-body">
                            @using (Html.BeginForm("CreatePatient", "Patient", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Patient Name
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(Model => Model.PName, null, new { @placeholder = "Patient Name", @class = "form-control input-height" })
                                </div>
                            </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        PatientType
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(Model => Model.PatientType, new List<SelectListItem> {

                                            new SelectListItem{ Text="IP", Value ="1" },
                                           new SelectListItem{ Text="OP", Value = "2" },
                                           new SelectListItem{ Text="Casulty", Value ="3" }

                                  }, "Select PatientType", new { @placeholder = "Patient Type", @class = "form-control input-height" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        ReferBy
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(Model => Model.ReferBy, null, new { @placeholder = "Refer By", @class = "form-control input-height" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Age
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(Model => Model.Age, null, new { @placeholder = "Age", @class = "form-control input-height" })
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Gender
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.DropDownList("Gender", new List<SelectListItem> {

                                            new SelectListItem{ Text="Male", Value = "Male" },
                                           new SelectListItem{ Text="Female", Value = "Female" }
                                  }, "Select Gender", new { @placeholder = "Gender", @class = "form-control input-height" })


                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Mobile No
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(Model => Model.MobileNo, null, new { @placeholder = "MobileNo", @class = "form-control input-height" })

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Address
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextAreaFor(Model => Model.Address, 5, 10, new { @placeholder = "Address", @class = "form-control input-height" })
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="offset-md-3 col-md-9">
                                            <input type="submit" class="btn btn-info m-r-20" value="Save" />
                                            <br />
                                            @*<h3 class="warning"> @ViewBag.Message</h3>*@
                                        </div>
                                    </div>
                                </div>
                        }
                        @using (Html.BeginForm("CreateAppointMent", "Patient", FormMethod.Post))
                        {
                            <div style="display:@ViewBag.Visable">


                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Patient Id
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">

                                        <input type="text" value="@ViewBag.Pid" class="form-control input-height" name="AppPid" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Consultation Doctor
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBox("Doctor", null, new { @placeholder = "Dr Name.", @class = "autocomtext" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Fees
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBox("Fees", null, new { @placeholder = "Fees", @class = "form-control input-height" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Date of appointment
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBox("DateofAppointment", null, new { @placeholder = "Date of Appointment", @class = "form-control input-height", @type = "date" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Timming
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBox("Timing", null, new { @placeholder = "Timming", @class = "form-control input-height" })

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="offset-md-3 col-md-9">
                                            <input type="submit" class="btn btn-info m-r-20" value="Save" />
                                            @*<input type="submit" class="btn btn-info m-r-20" value="Print" />*@
                                            @Html.ActionLink("Save And Print", "CreatePatientReceipt", "Patient", null, new { @class = "btn btn-success" })


                                            <br />
                                            @* <h3 class="warning"> @ViewBag.Message</h3>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                                @Html.ActionLink("Back", "GetPatient", "Patient", null, new { @class = "btn btn-success" })
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>