@model MedicosRX.Models.Contact

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class="pull-left">
                    <div class="page-title">Add Contact</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">Contact</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Add Contact</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Basic Information</header>
                        <button id="panel-button"
                                class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            data-mdl-for="panel-button">
                            <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                            <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body" id="bar-parent">
                        @using (Html.BeginForm())

                        {
                          
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Contact Name
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(Model => Model.ContactName, null, new { @placeholder = "Contact Name", @class = "form-control input-height" })
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Designation
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(Model => Model.Designation, new { @placeholder = "Designation", @class = "form-control input-height" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Email Id
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(Model => Model.EmailId, new { @placeholder = "EmailId", @class = "form-control input-height" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Phone Number 1
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(Model => Model.PhoneNo1, new { @placeholder = "Phone Number 1", @class = "form-control input-height" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Phone Number 2
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(Model => Model.PhoneNo2, new { @placeholder = "Phone Number 2", @class = "form-control input-height" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">
                                        Address
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(Model => Model.Address, new { @placeholder = "Address", @class = "form-control input-height" })
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="offset-md-3 col-md-9">
                                            <input type="submit" class="btn btn-info m-r-20" value="Save" />
                                            <br />
                                            <h3 class="warning"> @ViewBag.Message</h3>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.ActionLink("Back to List", "Index")
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

 
